.Sort {

  &__btns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }


  &__btn {
    flex-grow: 1;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #DFE5EC;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4A4A4A;
    cursor: pointer;

    &:hover {
      border: 1px solid #2196F3;
    }

    &_active {
      background: #2196F3;
      color: #FFFFFF;
      border: 1px solid #2196F3;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

@media screen and (max-width: 400px) {
  .Sort__btn {
    font-size: 10px;
  }
}